/*  FONTS ALREADY LOADED
font-family: 'Montserrat', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

html, body { padding: 0;margin: 0; height: 100%; overflow: hidden}


*:before *:after {
  box-sizing: border-box;
}


/* ---------- Body container */
.main-container {
  background-image: radial-gradient(circle at 51% 52%, #35155b, #000);
  color: white;
  width: 100vw;
  height: 100vh;
}

/* ----------- Logo stylings */
.landing-logo {
  margin: 0 auto;
  width: 100vw;
  position: absolute;
  text-align: center;
}

.logo {
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  color: #16E6CC;
  text-transform: uppercase;
  font-size: 50px;
}

/* ------------ Message Section */
#js-message-section{
  position: absolute;
  top: 30%;
  height: 508px;
  width: 100vw;
  background-color: black;
  font-family: 'Montserrat', sans-serif;

}

p#start {
	position: relative;
	width: 16em;
	font-size: 200%;
	font-weight: 400;
	margin: 20% auto;
	color: #4ee;
	opacity: 0;
	z-index: 1;
	-webkit-animation: intro 2s ease-out;
	-moz-animation: intro 2s ease-out;
	-ms-animation: intro 2s ease-out;
	-o-animation: intro 2s ease-out;
	animation: intro 2s ease-out;
}

@-webkit-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-ms-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-o-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

/* 3D scrolling stuff part */
#titles {
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(25deg);
	-moz-transform: perspective(300px) rotateX(25deg);
	-ms-transform: perspective(300px) rotateX(25deg);
	-o-transform: perspective(300px) rotateX(25deg);
	transform: perspective(300px) rotateX(25deg);
}

#titles:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titles p {
	text-align: justify;
	margin: 0.8em 0;
}

#titles p.center {
	text-align: center;
}

#titles a {
	color: #ff6;
	text-decoration: underline;
}

#titlecontent {
	position: absolute;
	top: 100%;
	-webkit-animation: scroll 100s linear 2s infinite;
	-moz-animation: scroll 100s linear 2s infinite;
	-ms-animation: scroll 100s linear 2s infinite;
	-o-animation: scroll 100s linear 2s infinite;
	animation: scroll 100s linear 2s infinite;
}

/* animation */
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

/* -------------------------------------- GAME ON
-----------------------------------------------------------------------*/

/* GAME CONTAINER */
div#js-game-container {
  background-image: radial-gradient(circle at 50% 52%, #312f70, #2e154c);
  border: solid 3px #2E154C;
  border-radius: 20px;
  position: absolute;
  top: 300px;
  left: 5%;
  height: 550px;
  width: 90vw;
  margin-right: 20 auto;
  display:none;
}

/* ----------- Bugs Controls */

/* BUGS SHOWING */
.js-bug {
  height: 400px;
  width: 400px;
  position: absolute;
  background: url('../img/bugs/alien150.png')no-repeat center;
  display: none;
}

/* BUGS KILLED */
.js-killed {
  height: 200px;
  width: 200px;
  position: absolute;
  background: url('../img/bugs/spot150.png')no-repeat center;
}

/* TIME COUNTDOWN */
div#js-countdown {
  display:none;
}

/* ALIEN KILLS SCORE */
div#js-alien-kills {
  display:none;
}

/* ALIEN HEALTH SCORE */
div#js-alien-health {
  display:none;
}

/* GAME OVER */
div#js-game-over {
  display:none;
}

/* ----------- Starting command */
#js-starting-command {
  position: absolute;
  top: 88%;
  height: 50px;
  width: 100vw;
  background-color: black;
  color: #F72D99;
}

.starting-message {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
  letter-spacing: 1px;
}


/* ----------- Footer controls */

.social-links {
  position: absolute;
  top: 95%;
  width: 100vw;
  color: white !important;
}
ul.social-list-links {
  color: #AA00FF;
  float: right;
  list-style-type: none;
  text-transform: capitalize;
  margin: 0 auto;
}
li.footer-show-love-left {
  float: left;
  margin: 0 10px;
}

.social-list-links {
  display: inline;
  text-decoration: none;
  text-align: right;
}

a:link {
  text-decoration: none;
  margin: 0 10px;
}
